/* Mantine CheckboxGroup Overrides */

.recursica-checkbox-group-items {
    display: flex;
    flex-direction: column;
    gap: var(--checkbox-group-gap);
    padding: var(--checkbox-group-padding);
}