.background-toolbar {
  display: flex;
  flex-direction: column;
  gap: var(--accordion-item-content-gap);
  padding: 0;
}

.background-control {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
