/* Material UI RadioButtonItem Overrides */

/* Value text styling with min-height and vertical centering */
.recursica-radio-item-mui .MuiTypography-root {
    padding-left: var(--radio-item-gap) !important;
    font-family: var(--radio-item-font-family) !important;
    font-size: var(--radio-item-font-size) !important;
    font-weight: var(--radio-item-font-weight) !important;
    line-height: var(--radio-item-line-height) !important;

    color: var(--radio-item-color) !important;
    min-height: var(--radio-size) !important;
    max-width: var(--radio-item-max-width) !important;
    display: flex !important;
    align-items: center !important;
}