/* Material UI CheckboxItem Overrides */

.recursica-checkbox-item-mui .MuiTypography-root {
    padding-left: var(--checkbox-item-gap) !important;
    font-family: var(--checkbox-item-font-family) !important;
    font-size: var(--checkbox-item-font-size) !important;
    font-weight: var(--checkbox-item-font-weight) !important;
    line-height: var(--checkbox-item-line-height) !important;
    color: var(--checkbox-item-color) !important;
}