.top-bottom-margin-toolbar {
  display: flex;
  flex-direction: column;
  gap: var(--recursica-ui-kit-globals-form-properties-vertical-item-gap, 8px);
}

.top-bottom-margin-control {
  width: 100%;
}
